body {
  max-width: 900px;
  margin: auto;
  background: linear-gradient(to right, rgb(221, 214, 243), rgb(250, 172, 168));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
