.Meaning {
  color: black;
  line-height: 2;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
}
.Meaning h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 10px;
  padding-top: 5px;
  color: black;
}

.Meaning p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: black;
}

.Meaning em {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding-top: 10px;
  line-height: 15px;
  color: black;
  margin-top: 20px;
}
