.App-header {
  margin: 30px 0;
  background: linear-gradient(
    to right,
    rgba(173, 83, 137, 0.1),
    rgba(60, 16, 83, 0.1)
  );
  border-radius: 15px;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  border-style: outset;
}

.App footer {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 30px;
  font-family: "Pacifico", cursive;
  font-size: 12px;
  font-weight: light;
  color: whitesmoke;
  margin: 0 auto;
  background: linear-gradient(
    to right,
    rgba(173, 83, 137, 0.5),
    rgba(60, 16, 83, 0.5)
  );
  border-radius: 6px;
}

.App footer a {
  text-decoration: none;
  color: rgb(128, 0, 64);
  border-style: none;
  font-weight: bold;
}
.App footer a:hover {
  text-decoration: underline;
}
