.Dictionary {
  margin-top: 100px;
  color: black;
  font-family: "Roboto", sans-serif;
  padding: 20px 0px 20px 10px;
  max-width: 960px;
  margin: 0 auto;
}

.Dictionary section {
  background: linear-gradient(
    to right,
    rgba(173, 83, 137, 0.2),
    rgba(60, 16, 83, 0.2)
  );
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  margin-top: 15px;
  padding: 40px;
}

.Dictionary label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 10px;
  display: block;
}

.Dictionary .hint {
  margin-top: 15px;
  display: block;
}

.Result section {
  background: linear-gradient(
    to right,
    rgba(173, 83, 137, 0.2),
    rgba(60, 16, 83, 0.2)
  );
}
