.Dictionary {
  margin-top: 20px;
  color: whitesmoke;
  font-family: "Pacifico", cursive;
  padding: 20px 0px 20px 10px;
  max-width: 900px;
  margin: 0 auto;
}

.Dictionary section {
  background-color: rgba(142, 88, 57, 0.5);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-family: "Pacifico", cursive;
  border-radius: 8px;
  margin-top: 10px;
  padding: 40px;
}

.Dictionary label {
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
  line-height: 29px;
}

.Dictionary .hint {
  margin-top: 15px;
  display: block;
}

.Phonetic {
  margin: 20px 0 0;
}

.Phonetic h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 19px;
  color: whitesmoke;
  display: inline;
}

.Meaning {
  background-color: rgba(142, 88, 57, 0.5);
  color: whitesmoke;
  line-height: 2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 8px;
  margin-top: 10px;
  padding: 40px;
}
.Meaning h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
  padding-top: 10px;
  color: whitesmoke;
}

.Meaning p {
  font-size: 14px;
  line-height: 17px;
  color: whitesmoke;
  padding-top: 10px;
  margin-top: 20px 0 20px;
}

.Meaning em {
  font-size: 13px;
  padding-top: 10px;
  line-height: 15px;
  color: whitesmoke;
  margin-top: 20px;
}

.Synonyms {
  margin: 20px 0 0;
}

.Synonyms ul {
  padding: 0;
  margin: 0;
}

.Synonyms li {
  list-style: none;
  font-style: italic;
  font-size: 14px;
  display: inline-block;
  line-height: 17px;
}
